{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form class="card" action="/login" method="post">
        <div class="form-group">
            <input id="first-form-control" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <div class="container-card-p">
        <p class="card-p">Don't have an account yet? Go to <a href="/register">Register</a></p>
    </div>
{% endblock %}



